.audioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nowPlaying {
  margin: var(--s) auto;
  max-width: 300px;
}

.button {
  composes: u-button from "../../utilities.css";
  background-color: #ff99e8;
}

.lrButton {
  composes: button;
  font-size: 22px;
  width: 100px;
}

.refreshButton {
  composes: button;
  font-size: 17px;
  width: 40px;
}

.button + .button {
  margin-left: var(--s);
}

.timerContainer {
  align-self: flex-start;
  margin-top: var(--s);
}