.container {
  border-radius: var(--m);
  padding: var(--s);
  width: fit-content;
}

.playerDisplayContainer {
  composes: container;
  background-color: #fbeefb;
  margin: var(--s) 0;
}

.playerContainer {
  composes: container;
  background-color: #ffd3f3;
  margin-top: 0;
}

.displayContainer {
  composes: container;
  display: flex;
  flex-wrap: wrap;
}

.list + .list {
  margin-left: var(--s);
}