.container {
  border-radius: var(--m);
  padding: var(--s);
  width: fit-content;
}

.playerDisplayContainer {
  composes: container;
  background-color: #fbeefb;
  margin: var(--s) 0;
  width: fit-content;
}

.playerContainer {
  composes: container;
  background-color: #ffd3f3;
  margin-top: 0;
}

.displayContainer {
  composes: container;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.list {
  display: flex;
  flex-direction: column;
}

.list + .list {
  margin-left: var(--s);
}

.refreshButton {
  composes: u-button from "../../utilities.css";
  margin: 0 auto var(--xs) auto;
}

#playlistLabel {
  display: block;
  margin: var(--xs) 0;
}