.downloadButton {
  composes: u-button from "../../utilities.css";
  margin-top: var(--xs);
}

.downloadButton + .downloadButton {
  margin-left: var(--s);
}

.status {
  display: inline-block;
}

.downloadButton + .status {
  margin-left: var(--s);
}

div + .status {
  margin-top: var(--xs);
}

.loader {
  composes: u-container from "../../utilities.css";
  background-color: #e4e4e4;
}